---
Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AlwaysBreakAfterReturnType: None
BreakBeforeBinaryOperators: None
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
Cpp11BracedListStyle: false
IndentCaseLabels: false
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: '0'
SortIncludes: 'false'
IndentWidth: 4
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman

...
